.testimonials__container {
    width: 40%;
    padding-bottom: 4rem;
  }
  .client__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
  }
  .testimonialpendidikan {
    background: transparent;
    text-align: center;
    padding-top: 10px;;
    user-select: none;
  }
  .client__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
  }
  /* ================ MEDIA QUERIES (MEDIUM DEVICES) ============= */
  
  @media screen and (max-width: 1024px) {
    .testimonials__container {
      width: 80%;
    }
  }
  /* ================ MEDIA QUERIES (SMALL DEVICES) ============= */
  @media screen and (max-width: 600px) {
    .testimonials__container {
      width: var(--container--width-sm);
    }
    .client__review {
      width: var(--container--width-sm);
    }
  }
  


  .custombody2 {
    align-items: center;
    background: transparent;
    display: flex;
    height: fit-content;
    justify-content: center;
  }
  
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider-custom2 {
    background: #ffffff05;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100vw;
    margin-top: 20px;
  }
  .slider-custom2::before, .slider-custom2::after {
    background: linear-gradient(to right, var(--color-bg-variant) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider-custom2::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider-custom2::before {
    left: 0;
    top: 0;
  }
  .slider-custom2 .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider-custom2 .slide {
    height: 100px; 
    width: 100%; 
    transform: scale(1.2); 
  }
  .slider-custom2 .slide img {
    transform: scale(0.5); 
    width: auto;
    object-fit: cover;
  }
  