header {
  height: 100vh;
  padding-top: 3rem;
  overflow: hidden;
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  padding-bottom: 1.5rem;
}
/* ================= CTA ===================== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
/* ================= HEADER SOCIALS ========== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  bottom: 3rem;
  left: 0;
  /* transform: translateY(-50%); */
}
.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}
/* ================= ME ================== */
.me {
  background: linear-gradient(var(--color-primary), transparent 60%);
  height: 100vh;
  position: relative;
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
}
/* ================= SCROLL DOWN ======= */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotateZ(90deg);
  font-weight: 200;
  font-size: 0.9rem;
}
.judulatas {
  color: rgb(0, 149, 255);
  text-transform: uppercase;
  font-weight: bold;
}
.typani {
  font-size: 20px;
  padding: 10px 0 10px 0;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ============= */

@media screen and (min-width: 601px) {
  header {
    height: 100vh;
  }
  .me {
    display: none;
  }
  .pc {
    display: block;
    position: relative;
    top: 20%;
  }
}
/* ================ MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
  .pc {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  header {
    height: 100vh;
  }
  .pc {
    display: none;
  }
}

.bglp {
}

.txtlp {
}